<div id="cb-status-right" class="cb-control cb-status-right" data-action="close">
	<div id="cb-progress-bar">
		<div class="progressbar-value"></div>
	</div>
	<div class="progressbar-text">None!</div>
</div>
