
<div class="toolbar">

	<ul class="pull-left">
		<li class="close">
			<button data-trigger="click" data-action="close" title="close" class="icon-remove-sign"></button>
		</li>
		<li class="close separator"></li>
		<li>
			<button data-trigger="click" data-action="zoomOut" title="Zoom out" class="icon-zoom-out"></button>
		</li>
		<li>
			<button data-trigger="click" data-action="zoomIn" title="Zoom in" class="icon-zoom-in"></button>
		</li>
		<li>
			<button data-trigger="click" data-action="fitWidth" title="Fit page to window width" class="icon-expand"></button>
		</li>
		<li>
			<button data-trigger="click" data-action="originalSize" title="Do not scale image" class="icon-expand"></button>
		</li>
		<li>
			<button data-trigger="click" data-action="fitWindow" title="Fit page to window" class="icon-expand-2"></button>
		</li>
		<li>
			<button data-trigger="click" data-action="toggleReadingMode" title="switch reading direction" class="icon-arrow-right-3 manga-false"></button>
			<button data-trigger="click" data-action="toggleReadingMode" title="switch reading direction" class="icon-arrow-left-3 manga-true"></button>
		</li>
	</ul>

	<ul class="pull-right">
		<li><span id="current-page"></span> / <span id="page-count"></span></li>
	</ul>

</div>
